# EmailJS Configuration
# These keys are safe to be public as EmailJS restricts them by domain in their dashboard,
# however setting them as environment variables allows for easier changes without touching source code.

VITE_EMAILJS_SERVICE_ID=service_ykv9u8s
VITE_EMAILJS_TEMPLATE_ID=template_qtj6aci
VITE_EMAILJS_PUBLIC_KEY=0U7vEuxUo48sNKLUN
